@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
}

body {
  font-size: 2.4rem;
  font-family: "Quicksand", sans-serif;
  color: #4c0240;
  font-weight: 500;
}

button {
  background-color: rgb(248, 203, 218);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 0.05rem solid rgb(233, 165, 187);
  border-radius: 5px;
  color: #4c0240;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 203, 218);
  padding: 1rem;
  gap: 3rem;
}

h1 {
  text-align: center;
  font-family: "Monoton";
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 200;
  word-spacing: 40px;
  letter-spacing: 10px;
}

img {
  max-height: 120rem;
  object-fit: contain;
}

.options {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.paw-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paw-button {
  background: transparent;
  border: none;
  transition: background-color 0.3s ease;
}

.paw-button img {
  max-height: 12rem;
  transition: filter 0.3s ease;
}

.paw-button:hover img {
  filter: sepia(0.5) hue-rotate(2deg) saturate(1);
}

.menu-container {
  display: flex;
  gap: 40px;
  margin-top: 1rem;
}

.categories {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
  margin-left: 4rem;
  gap: 8rem;
}

.categories button {
  padding: 1rem;
  font-size: 2.5rem;
  margin: 1rem 0;
}

.categories button:hover,
.food-items button:hover,
.order-items button:hover {
  background-color: rgb(251, 147, 182);
}

.food-items,
.order-items,
.left-items {
  padding: 5rem;
  width: 58rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
}

.food-items ul,
.order-items ul {
  margin-top: -4rem;
  list-style-type: none;
  padding: 3rem;
}

.food-items ul li,
.order-items ul li {
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
  font-size: 3rem;
}

h3 {
  display: inline-block;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 200;
}

.food-items img {
  max-height: 12rem;
  margin-bottom: 5rem;
  height: 10rem;
  vertical-align: middle;
}

.food-items button,
.order-items button {
  margin-left: 2rem;
  padding: 0.5rem;
  font-size: 2rem;
}

.left-items {
  display: flex;
  gap: 40px;
  margin-top: 1rem;
  margin-left: 15rem;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.8;
}

.order-items {
  margin-left: 15rem;
  min-height: 80rem;
  font-size: 3rem;
}

.order-items ul li {
  padding: 1rem 0;
  font-size: 2.5rem;
}

.order-items button {
  font-size: 1.7rem;
}

.order-items h3 {
  padding-bottom: 3rem;
}
.order-items p {
  font-size: 3rem;
}
.order-items select {
  padding: 0.4rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2.3rem;
}

.cat-image {
  position: absolute;
  right: 10%;
  top: 66.4%;
}

.main-layout img {
  height: 40rem;
  vertical-align: middle;
}
